<section class="food-section">
  <div class="food-container">
    <div class="food-text">
      <h2 class="food-logo">MIMIHO</h2>
      <h3 class="food-name">Ресторан</h3>
      <p class="food-subsection">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat duis enim velit
        mollit.</p>
    </div>
    <div class="food-pictures">
      <img class="img5" src="./img/section2-img/section2-foto1.jpg" width="274" height="270" />
      <img class="img6" src="./img/section2-img/section2-foto2.jpg" width="274" height="270" />
    </div>
    <div class="btn">
      <button type="button" class="button white">
        <svg width="32" height="32">
          <use href="./img/icons-sprite.svg#icon-left-arrow-slider"></use>
        </svg>
      </button>
      <button type="button" class="button white">
        <svg width="32" height="32">
          <use href="./img/icons-sprite.svg#icon-rigth-arrow-slider"></use>
        </svg>
      </button>
    </div>
    <div class="food-btn">
      <ul class="resto-list">
        <li class="food-item"><button type="button" class="resto-button">Забронювати столик</button></li>
        <li class="food-item"><button type="button" class="resto-button">Переглянути меню</button></li>
      </ul>
    </div>
  </div>
</section>