<section class="hotel-section">
  <div class="hotel-container">
    <div class="hotel-text">
      <h2 class="hotel-logo">MIMIHO</h2>
      <h3 class="hotel-name">Готель</h3>
      <p class="hotel-subsection">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
        officia
        consequat duis enim velit
        mollit.</p>
    </div>
    <div class="hotel-pictures">
      <img class="img6" src="./img/section4-img/section4-foto1.jpg" width="274" height="270" />
      <img class="img5" src="./img/section4-img/section4-foto2.jpg" width="274" height="270" />
    </div>
    <div class="btn cup">
      <button type="button" class="button white">
        <svg width="32" height="32">
          <use href="./img/icons-sprite.svg#icon-left-arrow-slider"></use>
        </svg>
      </button>
      <button type="button" class="button white">
        <svg width="32" height="32">
          <use href="./img/icons-sprite.svg#icon-rigth-arrow-slider"></use>
        </svg>
      </button>
    </div>
    <div class="hotel-btn">
      <ul class="rhotel-list">
        <li class="hotel-item"><button type="button" class="resto-button">Забронювати столик</button></li>
        <li class="hotel-item"><button type="button" class="resto-button">Переглянути меню</button></li>
      </ul>
    </div>
  </div>
</section>