<section class="hotelpage-section1">
  <div class="container-hotelpage">
    <div class="hotelpage-top-wrap">
      <h2 class="hotel-pre-title">Amet minim mollit non</h2>
      <h2 class="hotel-logo">MIMIHO</h2>

      <h2 class="hotel-title">ДВОМІСНИЙ НОМЕР люкс</h2>
      <p class="hotel-post-title">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        srcset="./img/section1-img/hotel-foto1@2x.jpg 2x"
        src="./img/section1-img/hotel-foto1.jpg"
        alt="room"
        class="hotel-foto1"
        width="244"
        height="322"
      />
    </div>

    <div class="hotelpage-bottom-wrap">
      <ul class="hotelpage-img-list">
        <li class="hotelpage-img-item">
          <img
            srcset="./img/section1-img/hotel-foto2@2x.jpg 2x"
            src="./img/section1-img/hotel-foto2.jpg"
            alt="wash basin"
            class="hotel-foto2"
            width="194" height="194"
          />
        </li>
        <li class="hotelpage-img-item">
          <img
            srcset="./img/section1-img/hotel-foto3@2x.jpg 2x"
            src="./img/section1-img/hotel-foto3.jpg"
            alt="cup of coffe on table"
            class="hotel-foto3"
            width="194" height="194"
          />
        </li>
      </ul>
      <div class="hotelpage-btn-group">
        <button type="button" class="hotelpage-btn">Детальніше</button>
        <button type="button" class="hotelpage-btn">Переглянути ціни</button>
      </div>

      <div class="hotelpage-arrows">
        <button type="button" class="hotelpage-sliger-btn">
          <svg class="hotelpage-arrow-icon" width="32" height="32">
            <use href="./img/icons-sprite.svg#icon-left-arrow-slider"></use>
          </svg>
        </button>
        <button type="button" class="hotelpage-sliger-btn">
          <svg class="hotelpage-arrow-icon" width="32" height="32">
            <use href="./img/icons-sprite.svg#icon-rigth-arrow-slider"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

