<section class="section-three-room">
  <div class="container-hotel-section2">
    <div class="container-one">
      <div class="div-pre-title">
        <h4 class="pre-title-three-room">Amet minim mollit non</h4>
        <h3 class="title-three">MIMIHO</h3>
        <h2 class="after-title-three-room">ТРЬОХМІСНИЙ НОМЕР</h2>
        <p class="text-three-room">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <div class="div-after-title">
        <img
        srcset="./img/add-foto-room/newsection3-foto-1@2x.jpg 2x" 
        src="./img/add-foto-room/newsection3-foto-1.jpg" 
        alt="трьохмісний номер" 
        width="400px" 
        class="img-three-room">
      </div>
    </div>
    <div class="container-two">
      <div class="div-pre">
        <ul class="list-img-three-room list">
          <li class="item-three-room-img">
            <img
            srcset="./img/add-foto-room/newsection3-foto-2@2x.jpg 2x"
            src="./img/add-foto-room/newsection3-foto-2.jpg" 
            alt="гостинна кімната" 
            width="194px"
            class="img-item-three"></li>
          <li class="item-three-room-img">
            <img
            srcset="./img/add-foto-room/newsection3-foto-3@2x.jpg 2x" 
            src="./img/add-foto-room/newsection3-foto-3.jpg" 
            alt="ванна кімната"
            width="194px" 
            class="img-item-three"></li>
        </ul>
        <ul class="list-svg-three-room list">
          <li class="item-svg-three-room">
            <button type="button" class="three-room-btn-svg">
              <svg class="three-svg-left" width="32" height="32">
                <use href="./img/icons-sprite.svg#icon-left-arrow-slider">
              </svg>
            </button>
          </li>
          <li class="item-svg-three-room">
            <button type="button" class="three-room-btn-svg"><svg class="three-svg-left" width="32" height="32">
                <use href="./img/icons-sprite.svg#icon-rigth-arrow-slider">
              </svg></button>
          </li>
        </ul>
      </div>
      <div class="div-after">
        <ul class="list-btn-three-room list">
          <li class="item-three-room-btn">
            <button type="button" class="three-room-btn">Детальніше</button>
          </li>
          <li class="item-three-room-btn">
            <button type="button" class="three-room-btn">Переглянути ціни</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>