

@import url('/src/css/home-page-header.css');



@font-face {
  font-family: 'Film P3';
  src: local('Film P3 Bold'), local('Film-P3-Bold'),
    url('FilmP3Bold.woff2') format('woff2'),
    url('FilmP3Bold.woff') format('woff'),
    url('FilmP3Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}